h2 {
    color:darkred;
}

.text-box{
    height: 65px;
    width: 500px;
    background-color: #5f9ea0aa;
    margin: 5px;
    padding: 11px;
}

.top-bar{
    height: 30px;
    width: 105%;
    background-color: #97161d;
    margin-top: -8px;
    margin-left: -9px;
    padding: 2px;
}


.box-icon{
    height: 110%;
    width: 32px;
    margin-top: -2px;
    margin-left: -2px;


}

.on-page{
    background-color: #7c1218;
}
.off-page{
    background-color: #97161d;
}

.node{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    text-align: center;
    color: white;
}